# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)
print(type(number))

6
<class 'int'>

##### Assinging float

In [2]:
my_float=123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [5]:
print(2 + 3)
my_var1= 2
my_var2=3
print(my_var1 + my_var2)

5
5

In [6]:
my_new_num = 123
my_new_num += 2
print(my_new_num)

125

##### Subtraction

In [7]:
num1 = 2
num2 = 5.7

result_diff= num1 - num2
print(result_diff)

-3.7

In [8]:
result_diff -= 3
print(result_diff)

-6.7

##### Multiplication

In [9]:
result_prod = num1 * num2
print(result_prod)

11.4

In [10]:
result_prod *=2
print(result_prod)

22.8

##### Division

In [11]:
results_div = 4 / 2
print(results_div)
print(type(results_div))

2.0
<class 'float'>

##### Floor Division

In [12]:
result_floor = 5 // 2
print(result_floor)

2

##### Modulo

In [13]:
result_mod = 5 % 2
print(result_mod)

1

##### Exponential

In [16]:
square = 5**2
print(square)
square**=2
print(square)

25
625

In [18]:
cube = 5 ** 3
cube **= 3
print(cube)

1953125

### String Input-Output

##### String Assignment

In [19]:
name = "Vanessa"
name = 'Vanessa'
print(name)

Vanessa

In [21]:
word = "Vanessa's"
word = 'Vanessa\'s'
print(word)

Vanessa's

In [27]:
long = """
Hey 
you!
"Aydee" is a genious
'dak' not so much ...
"""
print(long)

Hey
you!
"Aydee" is a genious
'dak' not so much ...

In [28]:
line="hey \n there here is a tab \t blah blah \r new line with space"
print(line)

hey
 new line with space

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
name = "Jalen"
print("Hello" , name, "The Dawgs are No Good", "Get ready to get Stung!",sep =" ** ", end ="$$")
print("done")

Hello ** Jalen ** The Dawgs are No Good ** Get ready to get Stung!$$done

##### String Concatenation

In [35]:
first = "Grady"
last = "Dickerson"
full_name= first + " " + last
print(full_name)

full_name += " is a funny individual"
print(full_name)

Grady Dickerson
Grady Dickerson is a funny individual

##### Type Conversion

In [38]:
# int() str () list() dict() tuple() set() float() 

num1 = 3
num2 = "4"

print(num1 + int(num2))

7

##### input()

In [41]:
age = input("what is your age?")

print(age)
print(type(age))

what is your age?123
123
<class 'str'>

##### format()

In [42]:
age = int(input("what is your age? "))
result_string = 'You are {} years old and you are getting wiser!'. format(age)
print(result_string)

what is your age? 123
You are 123 years old and you are getting wiser!

In [43]:
#old way python 2
age = "35"

result_str = "you are %s and you look great for your age!" %age 
print(result_str)

you are 35 and you look great for your age!

In [46]:
#f strings

age = int(input("what is your age?"))
x = "Blah blah blah is all I hear in class today"
result_string = f'You are {age} years old and getting wiser! {x}'
print(result_string)

what is your age?30
You are 30 years old and getting wiser! Blah blah blah is all I hear in class today

##### Old Way (python 2)

You are 27 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [48]:
color = input("What color is your car?")
year = str(input("what year is your car?"))
make = input("what is the make of your car?")
model = input("What model do you drive?")
result_string = f"You drive a {year} {make} {model} that is painted {color}!"
print(result_string)

What color is your car?black
what year is your car?2021
what is the make of your car?Subaru
What model do you drive?Forester
You drive a 2021 Subaru Forester that is painted black!

### If Statements

In [54]:
bool(0)

False

In [50]:
bool(5)

True

In [51]:
bool("a string")

True

In [53]:
bool("")

False

In [49]:
5 == 5

True

In [55]:
bool([1,2,3])

True

In [57]:
3 > 2

True

3 < 2

In [56]:
num1 = 2
num2 = 10

if num1 == num2:
    #the code block
    print("equal")
else: 
    print("not equal")

not equal

In [63]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("equal")

num1 is greater

##### 'is' keyword

In [75]:
# only use this when asking if something is none

x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [77]:
#membership checks
char_name = "Max Payne"
if "Max" in char_name: 
    print("The character who lost everything")

##### 'not in' keyword'

In [80]:
sega_char= "Sonic"
if "S" not in sega_char.upper():
    print('s is not in the name...!!!!')
else:
    print("The word has an S")

The word has an S

a is NOT in here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [81]:
name = input("what is your name? ")
if "p" in name:
    print("your name has a p")
if "p" not in name:
    print("Your name does not contain a p")

what is your name? Vanessa
Your name does not contain a p

In [82]:
"you have a p" if "p" in input("what is your name? ").lower() else "no p"

what is your name? vanessa

'no p'

In [64]:
True and False

False

In [65]:
True and True

True

In [66]:
True or True

True

In [67]:
True or False

True

In [68]:
if num2 ==2 or num1 == 20:
    print("yes")
else: 
    print("no")

yes

In [72]:
#Ternary Operator ...inline if statements
# (value if true) (if) (boolean) (else) (value if false)

name = "john"

my_num = 5 if name == "steve" else 0
print(my_num)

my_num = 5 if name == "steve" else 10 if name == "john" else 0
print(my_num)

0
10

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [83]:
# for [placeholder] in [iterable]
name = "Gareth"

for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [112]:
name = "Gareth"
for letter in name:
    if letter== "r":
        print("The Letter is R")
        continue
        
    print(f"the next letter is {letter}")
    print("another line")

the next letter is G
another line
the next letter is a
another line
The Letter is R
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [113]:
name = "Gareth"
for letter in name:
    if letter== "r":
        print("The Letter is R")
        break
        
    print(f"the next letter is {letter}")
    print("another line")

the next letter is G
another line
the next letter is a
another line
The Letter is R

0
1
2
3
4

##### Pass Statement

In [114]:
name = "Gareth"
for letter in name:
    pass
    
print("rest of program")

rest of program

In [115]:
foods = ["pizza", "tacos", "dimsum", "sushi"]
for food in foods:
    print(food)

pizza
tacos
dimsum
sushi

In [116]:
len(foods)

4

In [117]:
list(range(4))

[0, 1, 2, 3]

In [121]:
for index in [0,1,2,3]:
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dimsum
3
sushi

In [118]:
list(range(0,8,2))

[0, 2, 4, 6]

In [123]:
x, y = (1,2)
print(x)
print(y)

1
2

In [122]:
for tuple in enumerate(foods):
    print(tuple)

(0, 'pizza')
(1, 'tacos')
(2, 'dimsum')
(3, 'sushi')

In [125]:
for index, food in enumerate(foods):
    print ("at index", index, "is the food:", food)

at index 0 is the food: pizza
at index 1 is the food: tacos
at index 2 is the food: dimsum
at index 3 is the food: sushi

##### Double For Loops

In [127]:
counter = 0

for i in range(5):
    for j in range(5):
        counter +=1
        print(f"i={i} j={j} total={counter}")
    print( )

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [5]:
# while (boolean): 
    #do this codeblock

In [ ]:
num = 0
while num < 10: 
    print(num)
    num += 1

##### Looping 'While True'

In [132]:
while True: 
    print("Hello")
    num=int(input("Guess the magic number"))
    if num == 5:
        break

Hello

KeyboardInterrupt: Interrupted by user

In [133]:
while True:
    user_input = input("What do you want to do? Quit or continue?")
    if user_input.lower() == "quit":
        break
    if user_input.lower() =="continue":
        print("You said continue")

KeyboardInterrupt: Interrupted by user

##### While & For Loops Used Together

In [134]:
num = 0
total = 0

while num <5:
    print("While loop iteration ", num)
    for i in range(5):
        total +=1
        print("For loop iteration: ", i)
        print("total times inner loop ran ", total)
    num += 1

While loop iteration  0
For loop iteration:  0
total times inner loop ran  1
For loop iteration:  1
total times inner loop ran  2
For loop iteration:  2
total times inner loop ran  3
For loop iteration:  3
total times inner loop ran  4
For loop iteration:  4
total times inner loop ran  5
While loop iteration  1
For loop iteration:  0
total times inner loop ran  6
For loop iteration:  1
total times inner loop ran  7
For loop iteration:  2
total times inner loop ran  8
For loop iteration:  3
total times inner loop ran  9
For loop iteration:  4
total times inner loop ran  10
While loop iteration  2
For loop iteration:  0
total times inner loop ran  11
For loop iteration:  1
total times inner loop ran  12
For loop iteration:  2
total times inner loop ran  13
For loop iteration:  3
total times inner loop ran  14
For loop iteration:  4
total times inner loop ran  15
While loop iteration  3
For loop iteration:  0
total times inner loop ran  16
For loop iteration:  1
total times inner loop ran  17
For loop iteration:  2
total times inner loop ran  18
For loop iteration:  3
total times inner loop ran  19
For loop iteration:  4
total times inner loop ran  20
While loop iteration  4
For loop iteration:  0
total times inner loop ran  21
For loop iteration:  1
total times inner loop ran  22
For loop iteration:  2
total times inner loop ran  23
For loop iteration:  3
total times inner loop ran  24
For loop iteration:  4
total times inner loop ran  25

### Built-In Functions

##### range()

In [135]:
#range(start, stop, step)
#range(stop)
#range(start, stop) #those would be numbers

list(range(0,4,1))

[0, 1, 2, 3]

In [136]:
list(range(4))

[0, 1, 2, 3]

##### len()

In [137]:
len('hey')

3

##### help()

In [139]:
help(len) 
help(range)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [140]:
num = 1
isinstance(num,str)

False

In [141]:
num = 1
isinstance(num, list)

False

In [142]:
num = 1
isinstance(num, int)

True

##### abs()

In [143]:
# distance from zero 

print(abs(-5))

5

### Try and Except

### Lists

##### Declaring Lists

In [84]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [85]:
print(names[1])

Patrick

In [89]:
a_list = [1,2,3,["a","b","c"],4]
print(a_list[3])

inner_list = a_list[3]
print(inner_list[1])

print(a_list[3])
print(a_list[3][1])

['a', 'b', 'c']
b
['a', 'b', 'c']
b

In [93]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names[::-1])
print("Alex smells!"[::-1])
print(names[::2])
print(names[1:3:2])
print(names[4:0:-1])

['Armani', 'Moises', 'Patrick', 'Vanessa']
!sllems xelA
['Vanessa', 'Moises']
['Patrick']
['Armani', 'Moises', 'Patrick']

In [95]:
my_string = "racecar"
if my_string == my_string[::-1]:
    print("It's a palindrome!")

It's a palindrome!

##### .append()

In [96]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
names.append("Ramika")
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [97]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
names.insert(2, "Sabrina")

print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']

##### .pop()

In [99]:
new_class=[]
new_class.append(names.pop())
print(names)
print(new_class)

['Vanessa', 'Patrick', 'Sabrina', 'Moises']
['Armani']


##### .remove()

In [100]:
names.remove("Sabrina")

print(names)

['Vanessa', 'Patrick', 'Moises']

##### del()

In [103]:
print(names[1])

del names[1]

print(names)

Moises
['Vanessa']

In [104]:
##Do not use Del in a For Loop
names = ["Vanessa", "Patrick", "Moises", "Armani"]

for i in range(len(names)):
    print(names[i])
    if i==2:
        del names[i]
print(names)

Vanessa
Patrick
Moises

IndexError: list index out of range

##### Concatenating Two Lists

In [105]:

l1 = [1,2,3]
l2= [4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [106]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [6]:
for i in range (1, 11):
    if i ** 3 <=1000:
        print (i ** 3)
    else:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [11]:
for x in range (1,100):
    for y in range (2, x):
        if x % y==0:
            break
    else: 
        print(x)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [15]:
age = int(input("what is your age? "))
if age < 18:
    print("kids")
elif age > 65:
    print("seniors")
else:
    print("adults")

what is your age? 67
seniors